<!DOCTYPE html>
<html>

<head>
    <title>Bike Shop</title>
    <link rel="shortcut icon" href="favicon.ico">
    <style type="text/css">
        table[name="blk_permission"],
        table[name="blk_footer"] {
            display: none;
        }
    </style>
    <meta name="googlebot" content="noindex" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body marginheight=0 marginwidth=0 topmargin=0 leftmargin=0
    style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;min-width: 100%;">

    <table name="bmeMainBody" style="background-color: rgb(255, 255, 255);" width="100%" cellspacing="0" cellpadding="0"
        border="0" bgcolor="#ffffff">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="center">
                    <table name="bmeMainColumnParentTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td name="bmeMainColumnParent"
                                    style="border: 0px none transparent; border-radius: 0px; border-collapse: separate; border-spacing: 0px;">
                                    <table name="bmeMainColumn" class=""
                                        style="max-width: 100%; border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: visible;"
                                        width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td class="blk_container bmeHolder" name="bmePreHeader"
                                                    style="color: rgb(102, 102, 102); border: 0px none transparent; background-color: rgb(255, 255, 255);"
                                                    width="100%" valign="top" bgcolor="#ffffff" align="center">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bmeHolder" name="bmeMainContentParent"
                                                    style="border: 0px none transparent; border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: hidden;"
                                                    width="100%" valign="top" align="center">
                                                    <table name="bmeMainContent"
                                                        style="border-radius: 0px; border-collapse: separate; border-spacing: 0px; border: 0px none transparent;"
                                                        width="100%" cellspacing="0" cellpadding="0" border="0"
                                                        align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td class="blk_container bmeHolder" name="bmeHeader"
                                                                    style="color: rgb(56, 56, 56); border: 0px none transparent; background-color: rgb(255, 255, 255);"
                                                                    width="100%" valign="top" bgcolor="#ffffff"
                                                                    align="center">
                                                                    <div id="dv_3" class="blk_wrapper">
                                                                        <table class="blk" name="blk_divider" style=""
                                                                            width="600" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="tblCellMain"
                                                                                        style="padding: 10px 20px;">
                                                                                        <table class="tblLine"
                                                                                            style="border-top-width: 0px; border-top-style: none; min-width: 1px;"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><span></span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_1" class="blk_wrapper">
                                                                        <table class="blk" name="blk_navbar" style=""
                                                                            width="600" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table class="bmeContainerRow"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding-right:10px; padding-left:10px; padding-top:20px; padding-bottom:20px;"
                                                                                                        valign="top"
                                                                                                        align="left">
                                                                                                        <table
                                                                                                            width="100%"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                 
                                                                                                                    <td class="tdPart"
                                                                                                                        width="1%"
                                                                                                                        valign="center"
                                                                                                                        align="center">
                                                                                                                        <table
                                                                                                                            class="tdPart tblPart bmeLinkContainer"
                                                                                                                            cellspacing="0"
                                                                                                                            cellpadding="0"
                                                                                                                            border="0"
                                                                                                                            align="right">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td
                                                                                                                                        valign="top">
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_9" class="blk_wrapper">
                                                                        <table class="blk" name="blk_card" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="bmeImageCard"
                                                                                        style="padding-left:0px; padding-right:0px; padding-top:20px; padding-bottom:20px;"
                                                                                        align="center">
                                                                                        <table width="100%"
                                                                                            cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="bmeImageContainer"
                                                                                                        style="border-collapse:collapse;background-color:rgb(255, 138, 163);border-width:3px; border-color:rgb(238, 238, 238);border-style:solid;"
                                                                                                        width="594"
                                                                                                        valign="top">
                                                                                                        <table
                                                                                                            width="100%"
                                                                                                            height=""
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td style="padding:20px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; color: #383838; text-align: left;"
                                                                                                                        name="tblCell"
                                                                                                                        valign="top"
                                                                                                                        >
                                                                                                                        <div
                                                                                                                            style="line-height: 150%; text-align: center;">
                                                                                                                            <br><span
                                                                                                                                style="font-size: 30px; font-family: 'Arial Narrow', 'Arial MT Condensed Light', Arial, sans-serif; color: #ffffff; line-height: 150%;">
                                                                                                                                Pijamas Bonitas</span>
                                                                                                                                <br>
                                                                                                                                    <h1 style="font-family:Arial; font-size: 14px; color:#ffffff; text-decoration:none;padding-left: 10px;padding-right: 10px;">
                                                                                                                                        Hola {{ name }}
                                                                                                                                    </h1>
                                                                                                                                <br>
                                                                                                                                <span
                                                                                                                                style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: ff8aa3; line-height: 150%;">_____</span><br><span
                                                                                                                                style="font-size: 16px; font-family: 'Arial Narrow', 'Arial MT Condensed Light', Arial, sans-serif; color: #ffffff; line-height: 150%;">
                                                                                                                                ¡Tu registro se ha completado exitosamente! Por favor, accede al siguiente enlace para activar tu cuenta.
                                                                                                                            
                                                                                                                                </span><br><span
                                                                                                                                style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: ##34dbeb; line-height: 150%;">_____</span><br><span
                                                                                                                                style="font-size: 18px; font-family: 'Arial Narrow', 'Arial MT Condensed Light', Arial, sans-serif; color: #ffffff; line-height: 150%;">
                                                                                                                                <table
                                                                                                                                    style="float:center; color: #ffffff"
                                                                                                                                    linkid="2"
                                                                                                                                    class="bmeLinkTable tdPart"
                                                                                                                                    cellspacing="0"
                                                                                                                                    cellpadding="0"
                                                                                                                                    border="0"
                                                                                                                                    align="center">
                                                                                                                                    <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td gutter="10"
                                                                                                                                                style="font-family:Arial; font-size: 14px; color:#ffffff; text-decoration:none;padding-left: 10px;padding-right: 10px;"
                                                                                                                                                class="bmeMblCenter"
                                                                                                                                                valign="center"
                                                                                                                                                height="83"
                                                                                                                                                align="left">
                                                                                                                                                <Center>
                                                                                                                                                    
                                                                                                                                                    <p>Bienvenido a nuestro servicio. Por favor, haz clic en el siguiente enlace para activar tu cuenta:</p>
                                                                                                                                                    <a href="{{url}}"
                                                                                                                                                        style="font-family: 'Arial Narrow', 'Arial MT Condensed Light', Arial, sans-serif; font-size: 24px; color: rgb(255, 252, 252); text-decoration: none; font-weight: bold; font-style: normal;">
                                                                                                                                                        Activar cuenta
                                                                                                                                                    </a>
                                                                                                                                                    <p>¡Gracias!</p>
                                                                                                                                                </Center>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                              </span><br><br><p
                                                                                                                                style="font-size: 24px; font-family: 'Arial Narrow', 'Arial MT Condensed Light', Arial, sans-serif; color: #ffffff; line-height: 150%;"><strong>
                                                                                                                                    Tu contraseña es : {{pass}}
                                                                                                                                </strong></p>
                                                                                                                            </span><br><br><span
                                                                                                                                style="font-size: 24px; font-family: 'Arial Narrow', 'Arial MT Condensed Light', Arial, sans-serif; color: #ffffff; line-height: 150%;"><strong>
                                                                                                                                    {{ name }}
                                                                                                                                </strong></span>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_44" class="blk_wrapper">
                                                                        <table class="blk" name="blk_divider" style=""
                                                                            width="600" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="tblCellMain"
                                                                                        style="padding: 10px 20px;">
                                                                                        <table class="tblLine"
                                                                                            style="border-top-width: 0px; border-top-style: none; min-width: 1px;"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><span></span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="blk_container bmeHolder" name="bmeBody"
                                                                    style="color: rgb(56, 56, 56); border: 0px none transparent; background-color: rgb(52, 219, 235);"
                                                                    width="100%" valign="top" bgcolor="#c74545"
                                                                    align="center">
                                                                    <div id="dv_11" class="blk_wrapper">
                                                                        <table class="blk" name="blk_divider" style=""
                                                                            width="600" cellspacing="0" cellpadding="0"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="tblCellMain"
                                                                                        style="padding: 10px 20px;">
                                                                                        <table class="tblLine"
                                                                                            style="border-top-width: 0px; border-top-style: none; min-width: 1px;"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><span></span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_12" class="blk_wrapper">
                                                                        <table class="blk" name="blk_text" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table class="bmeContainerRow"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float:left; background-color:transparent;"
                                                                                                            width="600"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                        style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: rgb(56, 56, 56); text-align: left;"
                                                                                                                        valign="top"
                                                                                                                        align="left">
                                                                                                                        <div
                                                                                                                            style="line-height: 125%; text-align: center;">
                                                                                                                            <span
                                                                                                                                style="font-size: 30px; font-family: 'Arial Narrow', 'Arial MT Condensed Light', Arial, sans-serif; color: #ffffff; line-height: 125%;">
                                                                                                                                 <!-- tu titulo aqui-->
                                                                                                                                <!-- <br>_______</span> -->
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_13" class="blk_wrapper">
                                                                        <table class="blk" name="blk_text" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table class="bmeContainerRow"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float:left; background-color:transparent;"
                                                                                                            width="600"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                        style="padding-top: 10px; padding-bottom:10px; padding-left:20px; padding-right:20px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; color: #383838; text-align: left;"
                                                                                                                        valign="top"
                                                                                                                        align="left">
                                                                                                                        <div
                                                                                                                            style="line-height: 150%; text-align: center;">
                                                                                                                            <span
                                                                                                                                style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; line-height: 150%;">
                                                                                                                                <!-- tu texto aqui-->
                                                                                                                            </span>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    
                                                                    
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                             
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html> 